In [1]:
a = 1 
b = 2
a+b

3

In [7]:
def add(a,b):
    c = a+b
    return c
add(1,2)

3

In [3]:
add

In [4]:
def sub(x,y):
    pass

In [11]:
def test1(n,m):
    return n*10, m*2,n+m,n-m
print(test1(2,3))
type(test1(2,3))

(20, 6, 5, -1)

tuple

In [14]:
def test1(n,m):
    return n*10, m*2,n+m,n-m
a,b,c,d = test1(2,3)
print(a)
print(b)
print(c)
print(d)

20
6
5
-1

In [15]:
_ = 23
print(_)

23

In [16]:
a,b,_,d = test1(2,3)
print(a)
print(b)
print(_)
print(d)

20
6
5
-1

In [18]:
def test2(n):
    return n*2
test2([1,23,4])

[1, 23, 4, 1, 23, 4]

In [19]:
test2(34)

68

In [21]:
def test2(n=5, m =10):
    return n+m
test2(20)

30

In [22]:
def test3(*args, a = "ani"):
    return(args)
test3("a",1,2,3,[23,234,"ans"])

('a', 1, 2, 3, [23, 234, 'ans'])

Q : create a function which takes multiple list as arguments and retrun the concatenation of all those lists as one list

In [38]:
def test4(*args):
    l = []
    for i in args:
        l = l+i
#         for j in i:
#             l.append(j)

    return l
test4([2,342], [343,343],[343,56])

[2, 342, 343, 343, 343, 56]

In [67]:
def test5(*args):
    return args
test5([2,342], [343,343],[343,56],{1 : "anil",2:"sai"})

([2, 342], [343, 343], [343, 56], {1: 'anil', 2: 'sai'})

In [42]:
def test6(**kwargs):
    return kwargs
test6(a = "anil", b = 12, c = True)

{'a': 'anil', 'b': 12, 'c': True}

Q : 
----> create a function to take any = no.of a mixed data and try to create a list of seperate data based on data type and return multiple result.

-----> create a function which be able to use *args and *kwargs and it will be able to do all the list value concatenation and return a list.

In [48]:
def sample(*args, **kwargs):
    l1,l2,l3,l4,l5,l6,l7=[],[],[],[],[],[],[]
    for i in args:
        if type(i)== int:
            l1.append(i)
        elif type(i) == str:
            l2.append(i)
        elif type(i) == tuple:
            l3.append(i)
        elif type(i) == list:
            l4 = l4 + i
        elif type(i) == set:
            l5.append(i)
     
    return l1,l2,l3,l4,l5,kwargs
sample(12,122,"anil","ans",(23,"anil"),[12.423,32,323],(54,4534),{1,23,2},a = "anil", b = "san",)

([12, 122],
 ['anil', 'ans'],
 [(23, 'anil'), (54, 4534)],
 [12.423, 32, 323],
 [{1, 2, 23}],
 {'a': 'anil', 'b': 'san'})

In [64]:
def sample2(*args, **kwargs):
    l = []
    for i in args:
        l.append(i)
       
    print(kwargs)
    d = [   i       for i in kwargs.values() if type(i) == list]
    return l, d
#     for i in kwargs:
#         if type(kwargs[i])==list:
#             l.append(kwargs[i])
#     return l
sample2(12,21,"anil",[12,32,53],a = 21, b =[1,2,3,32])

{'a': 21, 'b': [1, 2, 3, 32]}

([12, 21, 'anil', [12, 32, 53]], [[1, 2, 3, 32]])

In [65]:
d ={123 : "anil"}
d["name"].

SyntaxError: invalid syntax (Temp/ipykernel_4436/1060916288.py, line 1)

In [73]:
def sam(*args):
    return args

sam(1,2,3,4, a= 10,b=20)

TypeError: sam() got an unexpected keyword argument 'a'

In [74]:
def test(name, mail_id):
    return mail_id, name
test("anil","ans@gmail.com")

('ans@gmail.com', 'anil')

In [2]:
a = 10
b = 20

def add(a, b):
    c = a + b
    return c
add(a,b)

30

In [3]:
c = lambda x,y : x+y

c(a,b)

30

In [5]:
m = lambda *args : [i for i in args]
m(1,34,53,"anil")

[1, 34, 53, 'anil']

In [7]:
r = 10 # global variable
def test7(a,b):
    
    """
    THis is a function which we are created to perform 
    some divisio task.
    
    """
    r = a/b # local varible 
    print(r)
test7(10,10)

1.0

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
help(test7)

Help on function test7 in module __main__:

test7(a, b)
    THis is a function which we are created to perform
    some divisio task.

In [11]:
l = [1,2,3,4]
l[-1]

4

In [12]:
for i in "s":
    print(i)

TypeError: 'int' object is not iterable

In [13]:
name= "anil"
next(name)

TypeError: 'str' object is not an iterator

In [18]:
name= "anil"
a = iter(name)
next(a)

'a'

In [19]:
next(a)

'n'

In [20]:
next(a)

'i'

In [21]:
next(a)

'l'

In [1]:
def test8(n):
    l =[]
    for i in range(n):
        l.append(i**3)
    return l
test8(7)

[0, 1, 8, 27, 64, 125, 216]

In [3]:
def test9(n):
    for i in range(n):
        yield i**3
test9(5)

In [4]:
range(2)

range(0, 5)

In [6]:
for i in range(2):
    print(i)

0
1

In [7]:
list(range(2))

[0, 1]

In [8]:
def test9(n):
    for i in range(n):
        yield i**3
test9(5)

In [13]:
for i in test9(2):
    print(i)

0
1

In [20]:
# fucntion for generating fibonacci series

def genfib(n):
    a =1
    b=1
    l = []
    for i in range(n):
        l.append(a)
        a,b = b,a+b
    return l
genfib(5)

[1, 1, 2, 3, 5]