In [4]:
l = ["ans",1,2,3,["anil",247,True]]
for i in l:
    print(i)

ans
1
2
3
['anil', 247, True]

In [15]:
a =["ab","cad",32,"az"]

In [17]:
b =(str(a))
print(type(b))

<class 'str'>

In [18]:
l = [ "anil", "ans","ans","ans"]
l.count("ans")

3

In [19]:
l.extend("test1")

In [20]:
l

['anil', 'ans', 'ans', 'ans', 't', 'e', 's', 't', '1']

In [21]:
print(len(l))

9

In [22]:
l

['anil', 'ans', 'ans', 'ans', 't', 'e', 's', 't', '1']

In [27]:
l = [3,4,5,34,55,5,5,5.65]
l.pop
l.remove(5)
l

5.65

[3, 4, 34, 55, 5, 5]

suppose l = [some elements]
->    append 2 more lsit and one complex number in this list b/w a existing list
->    if your nested list contain string then find its index in nested list and print and then remove the string
->    you have to extract 2nd element of each nested list.

In [117]:
%%time
l = [["anil","ans","b","c",1,3,4],["ans",34],[55,34,"sai"]]
l1 = ["pans", 53]
l3 = 4+5j
l2  = [534,"343","ans","ans"]

l.insert(-2,l3)
l.append(l1)
l.append(l2)

print(l)
for i in range(len(l)):
    if type(l[i]) == list:
        k = 0
        for j in l[i]:
            if type(j)==str:
                print("the index of {} is:{}".format(j,k))
#                 l[i].remove(j)
#                 print("this is updated list {}".format(l[i]))
            k+= 1
        k = 0
        for j in range(len(l[i])):
            if type(l[i][k]) is str:
                l[i].remove(l[i][k])
                continue
            k+= 1
    
print(l)

[['anil', 'ans', 'b', 'c', 1, 3, 4], (4+5j), ['ans', 34], [55, 34, 'sai'], ['pans', 53], [534, '343', 'ans', 'ans']]
the index of anil is:0
the index of ans is:1
the index of b is:2
the index of c is:3
the index of ans is:0
the index of sai is:2
the index of pans is:0
the index of 343 is:1
the index of ans is:2
the index of ans is:3
[[1, 3, 4], (4+5j), [34], [55, 34], [53], [534]]
Wall time: 1.95 ms

In [95]:
l =[]
for i in "anil":
    l.append(i)
print(l)

['a', 'n', 'i', 'l']

In [96]:
[i for i in "anil"]

['a', 'n', 'i', 'l']

In [99]:
l = []
for i in range(10):
    if i%2 != 0:
        l.append("odd")
    else:
        l.append("even")
print(l)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [102]:
["odd" if i%2 !=0 else "even"  for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [103]:
l =[]
for i in range(3):
    l.append([])
    for j in range(3):
        l[i].append(j)
print(l)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [105]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [106]:
l =[]
for i in range(8):
        if i%2 == 0:
            if i%3 == 0:
                l.append(i)
print(l)

[0, 6]

In [108]:
[ i for i in range(8) if i %2 == 0 if i%3 == 0 ]

[0, 6]

In [109]:
l =[]
for i in range(8):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7]

In [113]:
j =[]
for i in l:
    if i == 1:
        j.append("yes")
    elif i == 2:
        j.append("no")
    else:
        j.append("test")
j

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test']

In [115]:
["yes" if i==1 else "no" if i ==2 else "test" for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test']

In [119]:
a = 1
b =1
# for i in range(10):
#     print(a)
#     a,b = b,a+b
for i in range(10):
    print(a)
    a=b  
    b=a+b

1
1
2
4
8
16
32
64
128
256