In [1]:
a = "Hi all my name is anil and my employee id is '11607787'"

In [2]:
 s = "this is full stack datascience class."
s[4:10:1]

' is fu'

In [4]:
for i in range(len(s)):
    print(s[i])

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

d
a
t
a
s
c
i
e
n
c
e

c
l
a
s
s
.

In [5]:
s[::-1]

'.ssalc ecneicsatad kcats lluf si siht'

In [6]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [7]:
l =[123, "ans",True]

In [8]:
l[1]= "anil"

In [9]:
l

[123, 'anil', True]

In [10]:
s[::-2]

'.sl cecaa ct lfs it'

In [11]:
s[::-1]

'.ssalc ecneicsatad kcats lluf si siht'

In [12]:
s

'this is full stack datascience class.'

In [29]:
s
s.find("name")

3

In [14]:
s.find("f")

8

# from the string find the locations of 'name' in that string

In [35]:
# s = "my name is anil and name is good"
# for i in range(len(s)):
#     if s[i] == 'n' and s[i+1] =='a' and s[i+2] =='m' and s[i+3] == 'e':
#         print(f"n: {i} a:{i+1} m:{i+2} e:{i+3}")

n = s.find("name")

#s[n:len("name")+n]
j =0
for i in s[n:len("name")+n]:
    print(n+j)
    j+=1
print()  
b = s.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

3
4
5
6

In [36]:
s.count("n")

4

In [37]:
s.count("anil")

1

In [41]:
s

'my name is anil and name is good'

In [38]:
s.split() #based on the space by default

['my', 'name', 'is', 'anil', 'and', 'name', 'is', 'good']

In [40]:
s.split('is')

['my name ', ' anil and name ', ' good']

In [42]:
s.upper()

'MY NAME IS ANIL AND NAME IS GOOD'

In [43]:
s.lower()

'my name is anil and name is good'

In [44]:
s.swapcase()

'MY NAME IS ANIL AND NAME IS GOOD'

In [45]:
" ".join(s)

'm y   n a m e   i s   a n i l   a n d   n a m e   i s   g o o d'

In [46]:
"ans".join(s)

'mansyans ansnansaansmanseans ansianssans ansaansnansianslans ansaansnansdans ansnansaansmanseans ansianssans ansgansoansoansd'

In [49]:
name = "anil"
name.replace('a', 'm')

'mnil'

In [50]:
name

'anil'

a = " we all are a part of Full Stack"

1. normalize all one string in lower case
2. find number of occurences of 'a' in entire data
3. find all one location of 'a' in string
4. replace all the 'a' with 'iNeuron'
5. print all the word as a list.

In [63]:
a = "we all are a part of Full Stack"

b =a. lower()
print(b)
print()
n = b.count('a')
print(n)
print()
for i in range(len(b)) :
    if b[i] == 'a' :
        print(i)
c = b.replace('a','iNeuron')
print(c)
print()
print(c.split())

we all are a part of full stack

5

3
7
11
14
28
we iNeuronll iNeuronre iNeuron piNeuronrt of full stiNeuronck

['we', 'iNeuronll', 'iNeuronre', 'iNeuron', 'piNeuronrt', 'of', 'full', 'stiNeuronck']

In [64]:
s = "anil"
s.title()

'Anil'

In [66]:
s.istitle()

False

In [73]:
s = "My name is anil"

for i in range(len(s),0,-1):
    print(s[i-1])

l
i
n
a

s
i

e
m
a
n

y
M

In [75]:
#checking the string containing vowels or not

name = "anil naga sai"
vowels = "AaEeIiOoUu"
for i in name:
    if i in vowels:
        print(f"{i} is a vowel")
    else:
        print(f"{i} is not a vowel")

a is a vowel
n is not a vowel
i is a vowel
l is not a vowel
  is not a vowel
n is not a vowel
a is a vowel
g is not a vowel
a is a vowel
  is not a vowel
s is not a vowel
a is a vowel
i is a vowel

In [77]:
s = input(" enter the string to check if it is palindrome or not:")
s1 = s[::-1]
if s == s1:
    print("{} is a palindrome".format(s))
else: 
    print("{} is not a palindrome".format(s))

 enter the string to check if it is palindrome or not:anil
anil is not a palindrome

In [79]:
l =[ 1,2,3,"anil"]
s ="ans"
l+list(s)

[1, 2, 3, 'anil', 'a', 'n', 's']

In [87]:
n = "my name is anil and my initital name is pichika"
a = n.find("name")
print(a)
b = a + len("name")
print(b)
n.find("name",b,37)

3
7

32