In [1]:
t = ()
type(t)

tuple

In [2]:
l = ["anil", 1,23,]
l[0] = 34
l

[34, 1, 23]

In [3]:
t=("anil",2,3,4)
t[0] = 123
t

TypeError: 'tuple' object does not support item assignment

In [4]:
t1 =(234,34,23)
t2 =("anil","sai")
t1+ t2

(234, 34, 23, 'anil', 'sai')

In [5]:
234 in t1

True

In [6]:
t1

(234, 34, 23)

In [7]:
del(34)

SyntaxError: cannot delete literal (Temp/ipykernel_4956/460247096.py, line 1)

In [8]:
x = set()
type(x)

set

In [13]:
l = [1,2,3,3,3,3,-1,"anil","anil","Anil"]
s = set(l)
s

{-1, 1, 2, 3, 'Anil', 'anil'}

In [11]:
for i in s:
    print(i)

1
2
3
Anil
anil

In [12]:
s[1]

TypeError: 'set' object is not subscriptable

In [14]:
s =set()
s

set()

In [15]:
s.add("anil")

In [16]:
s.add(1)

In [17]:
s.add([2,23,4])

TypeError: unhashable type: 'list'

In [50]:
s

{1, 'anil'}

In [52]:
s[1]

TypeError: 'set' object is not subscriptable

In [21]:
s*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [22]:
x = {}
type(x)

dict

In [24]:
x1 = {23,23}
type(x1)

set

In [25]:
x = {"name" : "anil", "age": 22}

In [26]:
type(x)

dict

In [32]:
x1 = {"name": "anil0", "age":22, 12:True,"na":{11 : "11", 13:"13"}, "False":"false", True:[1,2,3,2], "name":"anil ans"}
x1

{'name': 'anil ans',
 'age': 22,
 12: True,
 'na': {11: '11', 13: '13'},
 'False': 'false',
 True: [1, 2, 3, 2]}

In [34]:
l =[1,2,3,4]
l[3]

4

In [36]:
x1["name"]

'anil ans'

In [37]:
x1["na"]

{11: '11', 13: '13'}

In [38]:
x1["na"][11]

'11'

In [39]:
x1.keys()

dict_keys(['name', 'age', 12, 'na', 'False', True])

In [46]:
for i in x1.keys():
    print(x1[i])

anil ans
22
True
{11: '11', 13: '13'}
false
[1, 2, 3, 2]

In [47]:
x1.items()

dict_items([('name', 'anil ans'), ('age', 22), (12, True), ('na', {11: '11', 13: '13'}), ('False', 'false'), (True, [1, 2, 3, 2])])

In [48]:
x1.values()

dict_values(['anil ans', 22, True, {11: '11', 13: '13'}, 'false', [1, 2, 3, 2]])

Q: take input as a paragraph by using input funtion
1 ------> conver all of this input into list of words
2-------> remove all the duplicate elements from the list
3-------> use above distinct elements as a key ofr dictionary  and assign you name  as a value of all key for dictionary 
4--------> try to print tuple of all the valuues
5---------> try to print list of all the key

In [68]:
para = input("enter the paragraph:")
l1 = para.split(" ")

enter the paragraph:enter the paragraph:enter the paragraph:Prabhas started his movie career with Eeswar in 2002. In 2003, he was the lead in Raghavendra.

In [75]:
s1 =set(l1)
print()
print(s1)
# l2 = list(s1)

# d1 ={}
# for i in l2 :
#     d1[i] = "anil"

d1 ={}
d2 = d1.fromkeys(s1,"anil")

print()
print(d2)
t1 = tuple(d2.values())
print()
print(t1)
l3 = list(d2.keys())
print()
print(l3)

{'started', 'career', 'paragraph:enter', 'movie', 'in', 'he', 'was', 'Eeswar', 'his', 'paragraph:Prabhas', 'In', '2003,', 'enter', 'with', 'Raghavendra.', '2002.', 'the', 'lead'}

{'started': 'anil', 'career': 'anil', 'paragraph:enter': 'anil', 'movie': 'anil', 'in': 'anil', 'he': 'anil', 'was': 'anil', 'Eeswar': 'anil', 'his': 'anil', 'paragraph:Prabhas': 'anil', 'In': 'anil', '2003,': 'anil', 'enter': 'anil', 'with': 'anil', 'Raghavendra.': 'anil', '2002.': 'anil', 'the': 'anil', 'lead': 'anil'}

('anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil', 'anil')

['started', 'career', 'paragraph:enter', 'movie', 'in', 'he', 'was', 'Eeswar', 'his', 'paragraph:Prabhas', 'In', '2003,', 'enter', 'with', 'Raghavendra.', '2002.', 'the', 'lead']

In [81]:
y1 = (1,2,3)
y1[1]
for i in y1:
    print(i)

1
2
3

In [82]:
y2 =set()
y2.add(1)
y2[0]
# y2[2]

TypeError: 'set' object is not subscriptable

In [93]:
y3 = {}
y3 = {"anil" : "name"}
y3["anil"]
y3[("anil",1,2,3)] = "ans"
for i in y3:
    print(i)

anil
('anil', 1, 2, 3)

In [94]:
d

NameError: name 'd' is not defined

In [95]:
d ={"company": "ineuron", "course":"full stack data science", "year": 2021}
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2021}

In [100]:
for i in d:
    if i =="year":
        if d[i] >2021:
            print("year is fine")
        else:
            d[i]= 2022
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [101]:
d={}
for i in range(10):
    d[i]= i*i
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [102]:
t =()